<footer class="bg-dark text-white text-center ">
  <span style="font-weight: bold; font-size:30px;">Follow us on</span>
  <br>
  <span>
    <a href="https://www.facebook.com/groups/444637853111665" style="padding-right: 25px;">
      <img src="assets/fbIcon.png" alt="fb" width="60" height="60" style="border-radius: 50%;">
    </a>
    <a href="https://www.linkedin.com/company/eninas">
      <img src="assets/linkedinIcon.png" alt="linkedin" width="60" height="60" style="border-radius: 50%;">
    </a>
  </span>

    <!-- <p style="padding-top: 15px;">&copy; 2025 Eninas.com All rights reserved.</p> -->
  </footer>